* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Benguiat";
    src: url(fonts/Benguiat.ttf);
}

html,
body {
    overflow-x: hidden !important;
}

body {
    background-color: #0c0102;
    color: rgb(255, 255, 255, 0.9);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
    position: absolute;
    z-index: 9;
}

section {
    width: 100%;
    display: flex;
    padding: 7vw;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    color: white;
    font-size: 16px;
    display: flex;
    gap: 12px;
    border: none;
    outline: none;
    padding: 16px 0px;
    border-bottom: 1px solid white;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

/* PRELOADER */

#preloader {
    width: 100%;
    height: 100vh;
    background-color: #0c0102;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 40vh;
        height: auto;

        path {
            fill: rgb(168, 19, 19, 0.364);
            stroke: rgb(168, 19, 19);
            stroke-dasharray: 640;
            stroke-dashoffset: 640;

        }
    }
}

@keyframes preloader {
    100% {
        stroke-dashoffset: 0;
    }
}

.bgMonster {
    background-image: url("img/bg-sec2.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    background-color: #0c0102;
}

.hero {
    background-position: 50% 0%;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw 7vw 7vw;
    position: relative;

    picture {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;

        }
    }

    .left,
    .right {
        width: 30%;
        z-index: 3;
    }

    .left {
        h3 {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 4px;
        }

        h1 {
            font-size: 3.7vw;
            font-family: "Benguiat";
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: end;

        p {
            font-size: 2vw;
            margin-bottom: 32px;
            text-align: end;
        }
    }
}

.hero:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(2, 1, 2, 0.00) 0%, #0c0102 100%);
}

.sectionCity {
    flex-direction: column;
    position: relative;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        margin-top: 52px;

        .card {
            background-image: url(img/card1.webp);
            width: 32%;
            aspect-ratio: 16/9;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: 20px;
        }

        .card:nth-child(2) {
            background-image: url(img/card2.webp);
        }

        .card:nth-child(3) {
            background-image: url(img/card3.webp);
        }
    }
}

.sectionTestimonials {
    flex-direction: column;

    .logos {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .testimonials {
        margin-top: 62px;
        display: flex;
        justify-content: space-between;

        .testimonial {
            width: 31%;
        }
    }
}

.sectionThanks {
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: #0c0102;

    h2 {
        margin-bottom: 10px;
    }

    .infiniteCities {
        width: 100%;

        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 52px;
        }

        ul:nth-child(2) {
            display: none;
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/bg-footer.webp);
    background-size: cover;
    background-position: center;

    .footerContent {
        display: flex;
        width: 100%;
        padding: 7vw;

        .footerLogo {
            width: 30%;

            h3 {
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 4px;
            }

            h2 {
                font-size: 3.7vw;
                font-family: "Benguiat";
            }
        }

        .footerSections {
            display: flex;
            flex: 1;
            justify-content: end;
            gap: 6%;
            align-items: end;

            h3 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 12 px;
            }

            .social {
                ul {
                    display: flex;
                    gap: 12px;
                }
            }
        }
    }

    .footerLogos {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 4vw;
    }

    .infiniteText {
        width: max-content;
        margin-bottom: 80px;
        display: flex;

        h3 {
            color: rgb(191, 191, 191);
            font-size: 14vw;
            font-family: "Benguiat";
            mix-blend-mode: color-dodge;
            animation: infiniteText 12s infinite linear;
            padding-left: 8vw;
        }
    }
}

@keyframes infiniteText {
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1500px) {
    .sectionCity {
        padding: 4vw;
    }
}

@media (max-width: 1400px) {
    .sectionCity .cards .card {
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
}

@media (max-width: 600px) {

    section {
        padding: 4vw;
    }

    h2 {
        font-size: 6vw;
    }

    header h2 {
        font-size: 28px;
        ;
    }

    .hero {
        flex-direction: column;
        padding: 26% 4vw 0;

        .left,
        .right {
            width: 100%;
        }

        .left {

            h3,
            h1 {
                text-align: center;
            }

            h1 {
                font-size: 12vw;
            }
        }

        .right {
            align-items: start;

            p {
                text-align: start;
                font-size: 5vw;
                margin-bottom: 16px;
            }
        }
    }

    .sectionCity {
        margin-top: 80px;

        button {
            display: none;
        }

        .cards {
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;

            .card {
                width: 100%;
            }
        }
    }

    .sectionTestimonials {
        .logos {

            img:nth-child(1),
            img:nth-child(3) {
                width: 20%;
            }

            img:nth-child(2) {
                width: 40%;
            }
        }

        .testimonials {
            flex-direction: column;
            gap: 48px;

            .testimonial {
                width: 100%;
            }
        }
    }

    .sectionThanks {
        margin: 40px 0px 60px;

        h2 {
            text-align: center;
        }

        .infiniteCities {
            display: flex;
            width: max-content;
            align-self: flex-start;
            margin-top: -20px;

            ul {
                width: max-content;
                gap: 32px;
                padding-right: 32px;
            }

            ul:nth-child(2) {
                display: flex;
            }
        }
    }

    footer {
        padding-top: 40px;

        .footerContent {
            padding: 4vw;
            flex-direction: column;

            .footerLogo {
                width: 100%;

                h2,
                h3 {
                    text-align: center;
                }

                h2 {
                    font-size: 12vw;
                    font-weight: 700;
                }
            }

            .footerSections {
                flex-wrap: wrap;
                justify-content: center;
                align-items: start;

                .social {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 40px 0px 32px;
                }

                .institutional {
                    width: 40%;
                }

                .mediaPartner {
                    width: 50%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .footerLogos {
            margin-top: 40px;
        }

        .infiniteText {
            h3 {
                font-size: 20vw;
            }
        }

    }
}